.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*formato login*/

#portada {
  background: url(../img/cover_back.png);
  background-size: cover;
  }

.formulario {
  background: rgb(206, 63, 117);
  color: #fff;
  max-width: 500px;
  margin-left: 900px;
  left: 20px;
  border-radius: 5px;
  padding: 40px;
}

.formulario h2 {
  margin: 0 0 28px 0;
  font-size: 20px bold;
  font-weight: 400;
  line-height: 1;
}

.formulario input[type="user"],
.formulario input[type="password"] {
  outline: none;
  background: lightgray;
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 5px;
  border-bottom: 4px solid rgb(204, 17, 88);
  font-family: 'Raleway', serif ;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 20px 0;
  transition: all .5s ease;
}

.formulario input[type="user"]:focus,
.formulario input[type="password"]:focus  { 
    border-bottom: 4px solid rgb(170, 14, 74);
}

.formulario button {
  background: rgb(204, 17, 88);
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-weight: normal;
  font-family: 'Raleway', serif ;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.formulario button:hover {
  background: rgb(170, 14, 74) ;
}

/*formato botón salir*/

#user {
  color: #fff;
  display: inline;
}

#salir {
  background: rgb(204, 17, 88);
  color: #fff;
  border: none;
  width: 15%;;
  padding: 10px 0;
  font-weight: normal;
  font-family: 'Raleway', serif ;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 100px;
  float: right;
  border-radius: 5px;
}

#salir:hover {
  background: rgb(170, 14, 74) ;
}

/* formato barra buscar*/
.buscar-limpiar-salir input[type="text"] {
  outline: none;
  background:rgb(235, 235, 235);
  display: block;
  width:  50%;
  padding: 10px 15px;
  color: black;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid rgb(204, 17, 88);
  font-family: 'Raleway', serif ;
  font-size: 14px;
  font-weight: normal;
  margin-left: 120px;
  border-radius: 5px 0 0 5px;
  transition: all .5s ease;
}

.buscar-limpiar-salir input[type="text"]:focus {
  border-bottom: 4px solid rgb(170, 14, 74);
}

/*formato botón limpiar de barra buscar*/
#limpiar-busqueda {
  background: rgb(204, 17, 88);
  color: #fff;
  border: none;
  width: 11%;
  padding: 12px;
  font-weight: normal;
  font-family: 'Raleway', serif ;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#limpiar-busqueda:hover {
  background: rgb(170, 14, 74) ;
}

/*alinear buscar limpiar y salir */
#buscador {
  float: left;
}

/*margen nuevo comentario product-info.html*/
#productos {
  margin: 30px 50px 0 50px;
}

#nuevoComentario {
  margin-left: 50px;
}

#comentarios {
  margin-left: 50px;
}

/*margen para imagenes product-info.html*/
#imagenes {
  margin-left: 3px;
}

#ver-producto:hover {
  background: rgb(170, 14, 74) ;
}

/*formato botón enviar comentario*/
#enviarComentario {
  background: rgb(204, 17, 88);
  color: #fff;
  border: none;
  width: 10%;
  padding: 10px;
  font-weight: normal;
  font-family: 'Raleway', serif ;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

#enviarComentario:hover {
  background: rgb(170, 14, 74) ;
}

/* formato campo nuevo comentario*/
#newComment  {
  outline: none;
  background: rgb(235, 235, 235);
  display: block;
  width:  50%;
  color: black;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid rgb(204, 17, 88);
  font-family: 'Raleway', serif ;
  font-size: 14px;
  font-weight: normal;
  border-radius: 5px 0 0 5px;
  transition: all .5s ease;
}

/*-------------------*/

.star-rating {
  direction: rtl;
  display: inline-block;

}

.star-rating input[type=radio] {
  display: none
}

.star-rating label {
  color: rgb(133, 142, 192);
  font-size: 20px;
  cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type=radio]:checked~label {
  color: #ffbf00
}

#list-container {
 cursor: pointer; 
}